.venv/
venv/
__pycache__/
*.pyc
.env
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.pkl
models/*.json
reports/*.pdf
.ipynb_checkpoints/
.DS_Store
data/raw_sentiment_backtest/*
data/processed_sentiment_backtest/*
data/raw_sentiment_backtest/.gitkeep
data/processed_sentiment_backtest/.gitkeep